@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Gentium+Basic');

*{
  margin: 0;
  padding: 0;
}



body{
  background-color: #0557AA;
}

#logo{
  display: block;
  margin: auto;
}

#title{
  text-align: center;
  font-size: 30px;
  font-family: "Concert One";
}
#pano{
  width: 80%;
}

#state{
  text-align: center;
  background-color: grey;
  float: right;
  font-size: 25px;
  width: 20%;
  height: 457px;
  font-family:"Gentium Basic";
}

#salesian{
  text-align: center;
  font-size: 40px;
  font-family: "Concert One";
  border-bottom: 5px solid black;


}

#church1{
font-size: 35px;
text-align: center;
font-family: "Concert One";
}

#church{
  width: 800px;
}

#state2{
  text-align: center;
  float: right;
  font-size: 25px;
  width: 35%;
  font-family:"Gentium Basic";
}

#school{
  font-size: 35px;
  text-align: center;
  font-family: "Concert One";
}

#school1{
  width: 800px;
}

#state3{
  text-align: center;
  float: right;
  font-size: 25px;
  width: 35%;
  font-family:"Gentium Basic";
}

#play{
  font-size: 35px;
  text-align: center;
  font-family: "Concert One";
}

#play1{
    width: 800px;
}

#state4{
  text-align: center;
  float: right;
  font-size: 25px;
  width: 35%;
  font-family:"Gentium Basic";
}

#home{
  font-size: 35px;
  text-align: center;
  font-family: "Concert One";
  margin-left: 1%;
}

#home1{
  width: 800px;
}

#state5{
  text-align: center;
  float: right;
  font-size: 25px;
  width: 35%;
  font-family:"Gentium Basic";
}

#linkdiv{
  width: 100%;
  height: 100px;
  background: #AEA983;
  position: fixed;
  bottom: 0;

}

#link{
  font-family: 'roboto slab', serif;
  text-decoration: none;
  display: block;
  width: 18%;
  height: 80px;
  margin-left: 60%;
  margin-top: 10px;
  background-image: url("/images/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#link p{
  margin-left: 50%;
  font-size: 1.75em;
  color: black;
}

#link:hover{
  background-image: url("/images/twitter2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#twitter{
  width: 60%;
  float: right;
}
