@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Orbitron|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Acme|Orbitron|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Acme|Nova+Script|Orbitron|PT+Sans+Narrow');

body {
  font-size: 16px;
  font-weight: normal;
  font-family: "Acme";
  color: #2BB0D8;
  text-align: left;
  background-color: #42657A;


}
h1 {
  font-size: 3.0em;
  color: #00F2F2;
  text-align: center;
  font-family: "Orbitron";
}

h2 {
font-size: 30px;
color: red;
font-family: "Nova Script" ;
}

a{
  color: #7CFF85;
  font-family: "PT Sans Narrow";
  font-size: 20px;
}

li{
  font-size: 20px;
}

p{
  font-size: 20px;
}

/*
Color scheme for this website:
#114B5F
#FF0000/red
##00E883
##00E883

*/
