body {
  font-size: 1em;
  font-weight: normal;
  font-family: Impact;
  color: #2BB0D8;
  text-align: left;
  background-color: #114B5F


}
h1 {
  font-size: 3.0em;
  color: #00E883 ;
  text-align: center;
}

h2 {
font-size: 30px;
color: #00E883  ;
font-family: Times New Roman;
}

a{
  color: red;
  font-family: Arial;
}
/*
Color scheme for this website:
#114B5F
#FF0000/red
##00E883
##00E883 

*/
